VITE_SUPABASE_URL=https://ikhpxgrjtjvaxpfqdimr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlraHB4Z3JqdGp2YXhwZnFkaW1yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUxMDg4MjIsImV4cCI6MjEwMDY4NDgyMn0.xatAqPWNt4rjJkPHNwLASD5GJGjm5z8f-zB_m02Zr9k
VITE_APP_NAME=فايبز
VITE_APP_BASE_URL=
